.loginScreen__logo{
    position: fixed;
    left: 0px;
    top: 1px;
    width: 120px;
    object-fit: contain;
    cursor: pointer;
    padding-left: 20px;
}

.loginScreen{
    position: relative;
    width: 100%;
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-20210125-popsignuptwoweeks-perspective_alpha_website_medium.jpg")
}

.loginScreen__gradient{
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top,
        rgba(0,0,0,0.8)0,
        rgba(0,0,0,0)60%,
        rgba(0,0,0,0.8)100%
    );
}

.loginScreen__body > h1{
    font-size: 3.125rem;
    margin-bottom: 20px;
}

.loginScreen__body > h2{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.loginScreen__body > h3{
    font-size: 1.2rem;
    font-weight: 400;
}

.loginScreen__body{
    position: absolute;
    top: 30%;
    left: 0; /* Set left to 0 */
    right: 0; /* Set right to 0 */
    margin: auto; /* Center horizontally */
    padding: 20px;
    text-align: center;
    z-index: 1;
    color: #fff;
}

.SignIn__button{
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 8px 16px;
    background-color: #e50914;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.loginScreen__input > form > input{
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width: 30%;
    border: none;
    max-width: 600px;

}

.loginScreen__input{
    margin: 20px;
}

.loginScreen__getStarted{
    /* position: absolute; */
    background-color: #e50914;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    padding: 14.9px 20px 16.8px ;
    font-weight: 600;
}