/* Row.css */
.row {
  margin: -30px 0;
  position: relative;
  color: white;
}

.title_name {
  color: #fff;
  margin-left: 10px;
}

.row__posters {
  display: flex;
  overflow: auto;
}

.top_con{
  position: relative;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__posterContainer {
  margin-right: 20px;
}

.row__poster {
  max-height: 150px;
  width: auto;
  object-fit: contain;
  transition: transform 450ms;
  border-radius: 5px;
  cursor: pointer;
}

.row__poster:hover {
  transform: scale(1.2);
  opacity: 1;
  box-shadow: -3px 10px 18px black;
  filter: brightness(0.8);
}

.row__posterTitle {
  position: relative;
  color: white;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  display: flexbox;
  bottom: 50px;
  opacity: 0;
  transition: opacity 0.5s;
}

#rating{
  color: #68fa29;
  font-size: 15px;
}

.row__posterContainer:hover .row__posterTitle {
  opacity: 1;
}
