/* Row.css */
.row {
  margin: -40px 0;
  position: relative;
  color: white;
  height: 270px;
}

.title_name {
  color: #fff;
  margin-left: 30px;
}

.row__posters1 {
  display: flex;
  overflow: auto;
  margin-left: 8px;
  padding: 27px;
}



.top_con{
  position: relative;
}

.row__posters1::-webkit-scrollbar {
  display: none;
}

.row__posterContainer {
  margin-right: 10px;
  transition: transform 450ms;
  text-align: center;
}

.row__posterContainer:hover{
  transform: scale(1.2);
  box-shadow: 20px 0 20px -20px #111 inset;
}

.row__poster {
  max-height: 150px;
  width: auto;
  object-fit: contain;
  border-radius: 5px;
}

.row__poster{
  opacity: 1;
  box-shadow: -3px 10px 18px black;
}

.row__posterTitle {
  position: relative;
  color: white;
  font-size: 15px;
  font-weight: 700;
  bottom: 80px;
  opacity: 0;
  transition: opacity 0.5s;
  cursor: pointer;
}

.button__play{
  position: relative;
  padding:2px;
  padding-left: 4px; 
  border-radius: 50%;
  right: 80px;
  bottom: 60px;
  font-size: 15px;
  transition: opacity 0.5s;
  height: 30px;
  width: 30px;
  background-color: rgba(38, 38, 38, 0.7);
  border: 2px rgba(137, 137, 137, 0.562) solid;
  opacity: 0;
}

.button__add{
  position: relative;
  padding:2px;
  border-radius: 50%;
  right: 73px;
  bottom: 59px;
  font-size: 20px;
  transition: opacity 0.5s;
  height: 30px;
  width: 30px;
  background-color: rgba(38, 38, 38, 0.7);
  border: 2px rgba(203, 203, 203, 0.502) solid;
  opacity: 0;
}


.row__posterContainer:hover .row__poster {
  filter: brightness(0.7); 
}

.row__posterContainer:hover .button__play {
  opacity: 1;
}

.row__posterContainer:hover .button__add {
  opacity: 1;
}

.button__play:hover , .button__add:hover{
  transform: scale(1.1);
  border: 2px rgb(255, 255, 255) solid;
}


#rating{
  color: #fae017;
  display: inline;
  font-size: 14px;
  transition: opacity 0.5s;
  bottom: 58px;
  left: 77px;
}

.row__posterContainer:hover .row__posterTitle{
  opacity: 1;
}

@media (max-width: 600px) {
  .row__poster {
    max-height: 100px;
  }

  .row__posterLarge:hover {
    transform: scale(1.1);
    opacity: 1;
  }
}
